@model Project_comp2084.Controllers.VehicleViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div >
    <h4>Vehicle</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cost)
        </dd>
    </dl>
    @if (Model.client.Any())
    {
      <table>
          <thead>
              <tr>
                  <th>
                      CompanyName
                  </th>
                  <th>
                      Location
                  </th
              </tr>
          </thead>
          <tbody>
                @foreach(var pack in Model.client)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem=>pack.CompanyName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem=>pack.Location)
                        </td
                        <td>
                            @Html.ActionLink("Edit","Edit","Packages",new{id=pack.ClientId})
                        </td>
                        <td>
                            @Html.ActionLink("Details","Details","Packages",new{id=pack.ClientId})
                        </td>
                        <td>
                            @Html.ActionLink("Delete","Delete","Packages",new{id=pack.ClientId})
                        </td>
                    </tr>
                }
            </tbody>
      </table>  
    };
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" style=" width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
